/* This is called orginization TO FUCKING ORGINIZE. PUT THE RIGHT THINGS 
IN THE RIGHT THINGS. Name CSS classNames Accordingly */
/*    All    */


/* We really need to do colors */
.theme-dark {
  --color-primary: #2e2c36;
  --color-secondary: #fbfbfd;
  --color-accent:#ffffff;
  --font-color: #ffffff;
  --font-color-o: #000000;
  --background-color: #17161b;
  background-color: var(--background-color);
  text-align: center;
  color:white
}
.body {
  font-family: Arial, Helvetica, sans-serif;
}
.top-container {
  background-color: #f1f1f1;
  padding: 30px;
}
::selection {
  background: #990000; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffffff; /* Gecko Browsers */
}
body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  background-color: rgb(185, 185, 185);
  border-radius: 0px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(119, 119, 119);
  border-radius: 60px;
}
/*    /All    */

/*    NavBar    */
header {
  width:100%;
  position: fixed;
  height:80px;
  background-color: 111111;
  border-bottom: solid;
  border-color: rgb(75, 78, 87);
  border-width: 2px;

  z-index: 2; /* Sets Appear Over Other Elements */
}

.content {
  padding: 16px;
}

.sticky + .content {
  padding-top: 102px;
}
.nav-link-div {
  display:flex;
  width:100%;
  margin-left:auto;
  flex-direction: row;
  justify-content: center;
  height: 100%; 
}
.nav-link {
  text-decoration: none;
  color:white;
  margin:auto 3%;
  transition: all ease-in-out 0.3s;
  display:flex;
  font-size: 20px;
  font-weight: 300;
}
.nav-link:hover {
  color:red;
}
.nav-link-log {
  background-color: transparent;
  color:white;
  margin:auto 3%;
  transition: all ease-in-out 0.3s;
  display:flex;
  font-size: 20px;
  border:none;
  font-weight: 300;
}
.nav-link-log:hover {
  color:red;
  cursor: pointer;
}
.nav-name {
  text-decoration: none;
  color:white;
  margin:auto;
  font-size: 30px;
  transition: all ease-in-out 0.3s;
  display:flex;
  align-self: flex-start;
}
@media screen and (max-width:1000px) {

}
/*    /NavBar    */

/*    Home    */

.home-slideshow-image {
  height: 700px;
  
}
.home-body-div {
  position: relative;
}

.home-section {
  padding: 100px 0;
}
#home-whoAreWe {
 background-color:var(--color-primary);
}
#home-signUp {
  background-color: var(--background-color);
}
.home-title {
  font-size: 35px;
}
hr {
  width:10%;
  margin:20px auto;
}
.home-paragraph {
  width:50%;
  margin:auto;
  font-size: 20px;
  padding:30px 0;
}
.home-button {
  background-color: white;
  color:var(--font-color-o);
  font-size: 25px;
  border-radius: 30px;
  padding: 10px 25px;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
  display: inline-block;
  /* Note: we can't place margin on NavLinks so build around them */
}
.home-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
/*    /Home    */

/*    Contact    */
.page-title {
  color:var(--color-accent);
  font-size: 40px;
  width:90%;
  font-weight: 600;
  margin:auto;
  padding: 50px 0;
}
.page-text {
  color:var(--color-accent);
  font-size: 20px;
  width:90%;
  font-weight: 600;
  margin:auto;
  padding: 50px 0;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: monospace;
  margin-bottom: 40px;
  color:white;

  background-color: transparent;
}
textarea {
  width:100%;
  font-family: monospace;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 40px;
  resize: none;
  color:white;
  background-color: transparent;
}
input[type=submit] {
  background-color: transparent;
  font-size: 20px;
  color: var(--color-accent);
  padding: 20px 50px;
  margin: 8px auto;
  border: solid;
  border-color: var(--color-accent);
  border-width: 3px;
  border-radius: 4px;
  transition: all ease-in-out 0.3s;
}
input[type=submit]:hover {
  background-color: var(--color-accent);
  color:black;
}
form {
  width:465px;
  margin:auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width:800px){
  .contact-form {
    width:60%
  }
}

/*    /Contact    */

/*    Register    */

.register-form{
  padding-top: 100px;
  padding-bottom: 100px;
}

/*    /Register    */

/*    Footer    */

footer {
  background-color: #111111;
  border-top: solid;
  border-color: rgb(75, 78, 87);
  border-width: 2px;
  padding: 100px 0px;
}
.footer-content-div {
  width:30%;
  margin:auto;
  display:flex;
  padding-bottom: 20px;
  border-bottom: solid;
  border-color: rgb(75, 78, 87);
  border-width: 1px;
}
.footer-content {
  margin:auto;
}
.footer-header {
  font-size: 20px;
  color:rgb(172, 172, 172);
}
.footer-socials-div {
  width:fit-content;
  margin:auto;
  display:flex;
}
.footer-socials {
  width:40px;
  display: inline-block;
  margin:20px 40px;
  border-radius: 10%;
}

a.footer-links{
  text-decoration: none;
  font-style: italic;
}
a.footer-links:link{
  color: #636363;
}
a.footer-links:hover{
  color: rgb(255, 255, 255);
}

/*    Footer    */


