/* This is called orginization TO FUCKING ORGINIZE. PUT THE RIGHT THINGS 
IN THE RIGHT THINGS. Name CSS classNames Accordingly */
/*    All    */

.theme-light {
  --color-primary: #292929;
  --color-secondary: #fbfbfd;
  --color-accent:#ffffff;
  --font-color: #ffffff;
  color:white;
  --font-color-o: #000000;
  --card-color: rgb(255, 255, 255);
  background-color: #171b26;
  text-align: center;
}
.theme-dark {
  --color-primary: #212224;
  --color-secondary: #333333;
  --color-accent: #171717;
  --font-color: #ffffff;
  --card-color: rgb(87, 87, 87);
  background-color: #171b26;
}

.body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.top-container {
  background-color: #f1f1f1;
  padding: 30px;
}
::selection {
  background: #00ffbf; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #00ffbf; /* Gecko Browsers */
}
body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  background-color: rgb(185, 185, 185);
  border-radius: 0px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(119, 119, 119);
  border-radius: 60px;
}
/*    /All    */

/*    NavBar    */
header {
  width:100%;
  position: fixed;
  height:80px;
  background-color: rgb(23, 27, 38, 0.8);
  border-bottom: solid;
  border-color: rgb(75, 78, 87);
  border-width: 2px;
}

.content {
  padding: 16px;
}

.sticky + .content {
  padding-top: 102px;
}
.nav-link-div {
  display:flex;
  width:100%;
  margin-left:auto;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%; 
}
.nav-link {
  text-decoration: none;
  color:white;
  margin:auto 3%;
  transition: all ease-in-out 0.3s;
  display:flex;
  font-size: 20px;
  font-weight: 300;
}
.nav-link:hover {
  color:red;
}
.nav-link-log {
  background-color: transparent;
  color:white;
  margin:auto 3%;
  transition: all ease-in-out 0.3s;
  display:flex;
  font-size: 20px;
  border:none;
  font-weight: 300;
}
.nav-link-log:hover {
  color:red;
  cursor: pointer;
}
.nav-name {
  text-decoration: none;
  color:white;
  margin:auto;
  font-size: 30px;
  transition: all ease-in-out 0.3s;
  display:flex;
  align-self: flex-start;
}
@media screen and (max-width:1000px) {

}
/*    /NavBar    */

/*    Home    */

.home-slideshow-image {
  height: 1000px;
}
.home-body-div {

}
/*    /Home    */

/*    /Contact    */

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
  width:100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: fit-content;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px auto;
  border: none;
  border-radius: 4px;
}
input[type=submit]:hover {
  background-color: #45a049;
  
}
form {
  width:20%;
  margin:auto;
  padding-top: 100px;
  padding-bottom: 100px;
}


/*    /Contact    */


/*    Footer    */

footer {
  background-color: rgb(23, 27, 38, 0.8);
  border-top: solid;
  border-color: rgb(75, 78, 87);
  border-width: 2px;
  padding: 100px 0px;
}
.footer-content-div {
  width:30%;
  margin:auto;
  display:flex;
  padding-bottom: 20px;
  border-bottom: solid;
  border-color: rgb(75, 78, 87);
  border-width: 1px;
}
.footer-content {
  margin:auto;
}
.footer-header {
  font-size: 20px;
  color:rgb(172, 172, 172);
}
.footer-socials-div {
  width:fit-content;
  margin:auto;
  display:flex;
}
.footer-socials {
  width:40px;
  display: inline-block;
  margin:20px 40px;
  border-radius: 10%;
}

a.footer-email{
  text-decoration: none;
}
a.footer-email:link{
  color: blue;
}
a.footer-email:visited{
  color: red;
}
a.footer-email:hover{
  color: green;
}

/*    Footer    */


